body {
	background-color: olivedrab;
	font-family: "Lucida Console", "Corbel", "Consolas"
	margin-top: 35px;
	margin-left: 250px;
	margin-right: 250px;
}

h1 {
	color: MediumAquaMarine;
	margin-left: 40px;
	font-family: "Electrolize", "Comfortaa", "MS Mincho";
}

h2 {
	margin-left: 80px;
	font-family: "Major Mono Display", "Press Start 2P", "MS Mincho";
	
}

h3 {
	margin-left: 80px;
	font-family: "Major Mono Display", "MS Mincho", "Courier New";
	
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 5px;
	
	
}

li{
	display: inline;
	float: left;
	
}

li a{
	display: block;
	padding: 8px;
	background-color: palegreen;
	
}

article {
	display: block;
    padding: 20px;
    border: 100px;
    background-color: darkkhaki;
	border-radius: 8px;
	margin-bottom: 15px
   

}

div {
	background-color: darkkhaki;
	display: flex;
	align-items: center;
	padding: 120px;
	
}