body {
	background-color: olivedrab;
}

h1 {
	color: MediumAquaMarine;
	margin-left: 40px;
	font-family: "Electrolize", "Comfortaa", "Courier New";
}

h2 {
	margin-left: 80px;
	font-family: "Major Mono Display", "Press Start 2P", "Courier New";
	
}

h3 {
	margin-left: 80px;
	font-family: "Major Mono Display", "Press Start 2P", "Courier New";
	
}

article {
	display: block;
	padding: 120px;
	border: 100px;
	background-color: darkkhaki;
	display: flex;
	align-items: center;

	
}

div {
	background-color: darkkhaki;
	display: flex;
	align-items: center;
	padding: 120px;
	
}