
body {
	background-image: linear-gradient(#6db93e,#006880);
	font-family: "Lucida Console", "Corbel", "Consolas";
	margin-top: 35px;
	margin-left: 250px;
	margin-right: 250px;
}

h1 {
    color: #7affd2;
    margin-left: 170px;
    margin-top: -15px;
    margin-bottom: 15px;
    font-family: "Electrolize", "Comfortaa", "MS Mincho", monospace;
}

h2 {
	margin-bottom:10px;
	margin-top: 5px;
	padding: 10px;
	font-family: "Major Mono Display", "Press Start 2P", "MS Mincho", monospace;
	display: flex;
	background-image: linear-gradient(to right,khaki,darkkhaki);
	border-radius: 25px;
	font-size: 26px;
	
}

header h2{
	align-items: right;
	
}

h3 {
	margin-left: 10px;
	font-family: "Major Mono Display", "MS Mincho", "Courier New";
	font-size: 20px;
	
}

header ul{
	list-style-type: none;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	display: block;
	
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	
}

li{
	float: none;
	margin-left: 25px;
	
}

header li{
	float: left;
	margin-left: 0px;
}

header li a{
	display: block;
	padding: 8px;
	background-color: palegreen;
	
}

article {
	display: block;
    padding: 25px;
    border: 100px;
    background-color: darkkhaki;
	border-radius: 8px;
	margin-bottom: 15px
   

}


img {
	text-align: right;
	
}

footer{
	display: block;
	background-color: darkkhaki;
	border-radius: 15px;
	margin-left: 350px;
	margin-right: 350px;
	padding: 3px;
	text-align: center;
	
	
}







.navbar {
  overflow: hidden;
  background-color: darkkhaki;
  border-radius: 8px;
  margin-bottom: 15px;
}

.navbar a {
  float: left;
  color: #7affd2;
  text-align: center;
  padding: 14px 16px;
  margin: 5px;
  text-decoration: none;
}
.navbar a:hover, .dropdownoption:hover .dropdownbox {
  background-color: #006880;
  border-radius: 8px;
}


.dropdownoption {
  float: left;
  overflow: hidden;
  margin: 5px;

}

.dropdownoption .dropdownbox {
  font-size: 16px;  
  color: #7affd2;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;  
  border: none;
 
}

.dropdownoption:hover .dropdown-content {
  display: block;
  background-color: khaki;
}


.dropdown-content {
  display: none;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-decoration: none;
  float: none;
  position: absolute; 
 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
  float: none;
}

.dropdown-content a:hover {
  background-color: #6db93e;
  border-radius: 8px;
}


.linkedarticles h2:hover{
	margin-left: 50px;
	transition: margin 500ms;
	
}

.linkheader a{
	color: black;
	text-decoration: none;
	
}


div img{
	display: inline-flex;
	min-height: 300px;
	min-width: 300px;
	overflow: auto;
	flex-wrap: nowrap;
	padding: 10px;
	
}




.container{
	display: inline-flex;
	align-items: flex-start;
	justify-content: space-around;
	
	
}


.containerCol {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	flex-grow: 1;
}





